@import "tailwindcss";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background-color: #f5f3ff;

    color: #222;
}

button,
input {
    font-family: inherit;
}

button {
    cursor: pointer;
}
